<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/reset.css") }}">
    <!-- bulma css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}">
    <link rel="icon" href="{{ url_for("static", filename="images/favicon.ico") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="js/main.js") }}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- HEADER -->
    <!-- Javier es el mejor -->
    <header>
        <section class="section">
            {% block header %}{% endblock %}
        </section>
    </header>

    <!-- MAIN -->
    <main>
        <section class="section">
                {% block content %}{% endblock %}
        </section>
    </main>

    <!-- FOOTER  -->
    <footer>
        <section class="section">
            {% block footer %}{% endblock %}
        </section>
    </footer>

</body>
</html>
