 /* No tengo ni idea de css pero aqui os dejo el archivo */
 .fer5{
    color: yellow;
    background-color: blue; 
    text-align: center;
 }

 .fer1{
    color: Black;
    background-color: white; 
    text-align: center;   
 }